:root {
  font-family: "Courier New", monospace;

  color: #E3FEF7;
  background-color: #135D66;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  font-size: 35pt;
  text-align: center;
  margin-top: 30px;
}

p {
  font-size: 15pt;
  text-align: center;
}

.button {
  background-color: #161A30;
  font-family: Courier, monospace;
  color: #E3FEF7;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 95%;
  font-size: 17pt;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
}

.button:hover {
  background-color: #13141c;
}

.login-box {
  width: 60%;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 200px;
}

.login {
  display: block;
}

.swap {
  font-size: 15pt;
  text-align: center;
  text-decoration: underline;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #E3FEF7;
  font-size: 15pt;
  font-family: "Courier New", monospace;
}

h3 {
  text-align: center;
  font-size: 20pt;
}

li {
  list-style: none;
}

ul {
  margin-bottom: 20px;
  font-size: 15pt;
}

h4 {
  text-align: center;
  font-size: 20pt;
}

select {
  padding: 8px; /* Add padding inside the select box */
  border-radius: 5px; /* Rounded corners for the select box */
  border: 1px solid #ccc; /* Border around the select box */
  width: 200px; /* Set the width of the select box */
  font-size: 14px; /* Set the font size */
  background-color: #E3FEF7; /* Set background color */
  cursor: pointer; /* Show pointer cursor on hover */
  margin: 10px;
  font-family: "Courier New", monospace;
}

select option {
  font-size: 15pt;
  font-family: "Courier New", monospace;
}

label {
  font-size: 15pt;
}

.logout-container {
  width: 200px;
}

.game-container {
  text-align: center;
  margin-top: 50px;
}

.choices-container {
  display: flex;
}

.choice-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Courier, monospace;
  background-color: #E3FEF7;
  border: none;
}

.result-container {
  margin-top: 20px;
}

.play-again-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #161A30;
  color: #E3FEF7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Courier, monospace;
}

.play-again-button:hover {
  background-color: #13141c;
}

.to-collection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product {
  background-color: #9AC8CD;
  color: #161A30;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #161A30;
  margin-left: 50px;
  margin-right: 50px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 50px;
}

nav ul li a:hover {
  background-color: #13141c;
}

.robocash {
  margin-top: 20px;
}

.coins {
  width: 30px;
  margin-left: 10px;
}

.robocash-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 20px;
  justify-content: center;
}

.choice-icon {
  width: 100px;
}

.choice-label {
  margin-bottom: 5px;
}

.choice-box {
  display: flex;
  flex-direction: column; /* Stack the image and paragraph vertically */
  align-items: center;

  flex: 1; /* Equal width for each box */
  text-align: center;
  margin-bottom: 20px;
}


